.crypto-select{
    flex: 1;
    max-width: 250px;
    width: 100%;

    .ant-select-selection-placeholder{
        color: #000;
    }
}

.period-select{
    
    .ant-select-selection-placeholder{
        color: #000;
    }
}